[Unit]
Description=mem'ry: tar pipe curl

[Service]
User=memry
Environment="MEMRY_STORAGE=/var/lib/memry/storage"
EnvironmentFile=-/etc/memryrc
ExecStart=/usr/bin/memry listen ${MEMRY_STORAGE}
CapabilityBoundingSet=
PrivateDevices=true
ProtectSystem=full
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
